# Core__ (Not Installed / Built-in)
# Improvement__ (Not Installed / Built-in)
# Matching__ (Not Installed / Built-in)
# Models__ (Not Installed / Built-in)
# PyPDF2 (Not Installed / Built-in)
# Utility__ (Not Installed / Built-in)
json==2.0.9
# langchain (Not Installed / Built-in)
# langchain_core (Not Installed / Built-in)
# langchain_groq (Not Installed / Built-in)
# os (Not Installed / Built-in)
re==2.2.1
# sentence_transformers (Not Installed / Built-in)
# torch (Not Installed / Built-in)
